In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#### q3

In [4]:
df_a=df[['Area','Y2017']]

In [12]:
df_a.groupby('Area')['Y2017'].sum().sort_values().iloc[[6]]

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

#### q5

In [13]:
df.groupby('Item')['Y2015'].sum()['Wine']

4251.81

In [14]:
df.groupby('Item')['Y2018'].sum()['Wine']

4039.32

#### q7

In [15]:
df.groupby('Element')['Y2017'].sum()['Processing']

292836.0

#### q8

In [16]:
len(df['Area'].unique())

49

#### q9

In [17]:
df.corr()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13012\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

#### q10

In [18]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

#### q15

In [19]:
[df.groupby('Element')[y].sum()['Stock Variation'] for y in ['Y2014','Y2015','Y2016','Y2017','Y2018']]

[58749.83, 34910.99, 33140.12, 54316.91, 20577.91]

#### q16

In [20]:
df.groupby(['Element','Area'])['Y2015'].sum()['Protein supply quantity (g/capita/day)','Madagascar']

173.05

#### q17

In [23]:
df_b=df[['Area','Y2017']]

In [24]:
df_b.groupby('Area')['Y2017'].sum().sort_values()[[-1]]

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

#### q18

In [25]:
df['Y2014'].isna().sum()

1589